In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from scipy import stats

In [2]:
# import data

dataFemales = pd.read_csv('MA_Exer_PikesPeak_Females.txt',delimiter='\t',encoding='latin-1')
dataMales = pd.read_csv('MA_Exer_PikesPeak_Males.txt',delimiter='\t',encoding='latin-1')

In [3]:
# parse race times and convert to float

time = re.compile(r'[A-Z]?\s*(1)?:?([0-5][0-9]):([0-5][0-9])')

def toMinutes(timeList):
    hours = []
    minutes = []
    seconds = []
    # separate race time string into hours, minutes, and seconds string lists
    for i in list(timeList):
        m = time.match(i)
        hours.append(m.group(1))
        minutes.append(m.group(2))
        seconds.append(m.group(3))
    # convert string lists into floats
    minutes = [float(i) for i in minutes]
    seconds = [float(i) for i in seconds]
    hours = [float(i or 0) for i in hours]
    timeFloat = []
    # convert hours, minutes, seconds to only minutes float
    for i in range(0,len(minutes)):
        totalTime = (60*hours[i] + minutes[i] + seconds[i]/60)
        timeFloat.append(totalTime)
    return timeFloat

In [ ]:
# convert minutes back to a time string

def toRaceString(minutesFloat):
    if minutesFloat >= 60:
        h = str(int(minutesFloat//60))
        m = format(int(minutesFloat-60*int(h)),'02')
        s = format(int((minutesFloat - int(minutesFloat))*60),'02')
        return(h+':'+m+':'+s)
    else:
        m = format(int(minutesFloat),'02')
        s = format(int((minutesFloat - int(minutesFloat))*60),'02')
        return(m+':'+s)

In [4]:
# convert to numpy array

femaleGunTimes = np.array(toMinutes(dataFemales['Gun Tim']))
maleGunTimes = np.array(toMinutes(dataMales['Gun Tim']))
femaleNetTimes = np.array(toMinutes(dataFemales['Net Tim']))
maleNetTimes = np.array(toMinutes(dataMales['Net Tim']))

In [6]:
dataMales.loc[dataMales['Name'] == 'Chris Doe']

     Place  Div/Tot   Num       Name    Ag  Hometown Gun Tim Net Tim  Pace
534    535  108/214  2869  Chris Doe  44.0  Reson VA   53:07   49:43  8:00

In [32]:
div4049 = dataMales.loc[(dataMales['Ag'] >= 40) & (dataMales['Ag'] <=49)]
div4049.shape

(415, 9)

In [42]:
percentileTop10 = np.mean(toMinutes(div4049['Net Tim'])[40:42])

In [41]:
chrisDoe = 49 + 43/60

In [43]:
chrisDoe - percentileTop10

8.208333333333336